@font-face {
    font-family: playfair;
    src: url(./PlayfairDisplay-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100vh;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1769863467291-23cf7902f686?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px;
}
h1{
    font-size: 80px;
    font-weight: 100;
    font-family: playfair;
}

button{
    font-size: 15px;
    margin: 10px;
    padding: 15px 30px;
    color:black;
    background-color:transparent;
    font-weight: 600px;
    border: 3px solid black;
    border-radius: 50px;
}
button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transform: scale(1.05);
}